@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
}

.right-box {
    background-color: #045d53;
    padding: 20px;

    .header {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid grey;

        .add-folder {
            display: flex;
            justify-content: center;
            align-items: center;
            // border: none;
            background-color: rgb(24, 22, 22);
            color: white;
            font-family: 'Roboto Mono', monospace;

            border-radius: 15px;
        }

        .title {
            font-weight: 600;
            font-size: 35px;

            span {
                font-weight: 400;
            }
        }
    }

    .folder-box {
        border: 2px solid black;
        gap: 10px;
        color: white;
        padding: 10px;
        margin-bottom: 5dvh;
        margin-top: 5dvh;
        border-radius: 3dvh;
        margin-left: 1.4dvw;
        margin-right: 1.4dvw;

        .folder-header {
            display: flex;
            justify-content: space-between;
            border-bottom: 1.4px solid black;
            padding: 20px 0;

            .folder-header-item {
                display: flex;
                gap: 10px;
                font-size: 25px;
                align-items: center;

                button {
                    font-family: 'Roboto Mono', monospace;

                    // background-color: whitesmoke;
                    background-color: rgb(26, 24, 24);
                    font-size: 16px;
                    // border: none;
                    border-radius: 15px;
                    display: flex;
                    align-items: center;
                }
            }
        }

        .material-icons {
            cursor: pointer;
        }

        .cards-box {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-between;
            padding: 20px;

            .card {
                display: flex;
                font-size: 18px;
                background-color: rgb(41, 38, 38);
                border-radius: 10px;
                box-shadow: 2px 2px 5px gray;
                width: 43%;
                gap: 10px;
                justify-content: space-between;
                align-items: center;
                transition-duration: 0.5s;
                padding: 12px;
                color: white;


                .title-box {
                    display: flex;
                    flex-direction: column;
                }

                .material-icons {
                    cursor: pointer;
                }
            }

            .card:hover {
                box-shadow: 2px 2px 15px grey;
                outline: 2px solid whitesmoke;
                cursor: pointer;
            }
        }
    }
}

.add-file {
    color: white;
}

.add-file:hover {
    opacity: 0.8;
}