.mode-box{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    // background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    .mode-body{
        background-color: whitesmoke;
        padding: 20ox;
        position: relative;
        display: flex;
        flex-direction: column;
        .item{
            display: flex;
            justify-content: space-between;
        }
        .close{
            position: absolute;
            top: 0;
            right: 10px;
        }
    }
}